@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  border: solid red 1px;
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


/* Tailwind Styles */
/* .orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
} */

.green_btn {
  @apply bg-primary-green border-primary-green border-2 text-white px-2 py-1 rounded-lg hover:bg-inherit hover:text-stone-800;
}

.head_text {
  @apply text-5xl font-extrabold leading-[1.15] text-primary-green sm:text-6xl;
}

/* .form_label{
  @apply text-lg
} */

.form_input{
  @apply w-full lg:w-4/5 border rounded-md text-base p-2
}

.form_textarea{
  @apply w-full lg:w-4/5 border rounded-md text-base p-2
}